@font-face {
	font-family: 'Globotipo Rounded';
	src: url(../../assets/fonts/GlobotipoRounded-Light.woff2) format('woff2'),
	url(../../assets/fonts/GlobotipoRounded-Light.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Globotipo Rounded';
	src: url(../../assets/fonts/GlobotipoRounded-Regular.woff2) format('woff2'),
	url(../../assets/fonts/GlobotipoRounded-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Globotipo Rounded';
	src: url(../../assets/fonts/GlobotipoRounded-Bold.woff2) format('woff2'),
	url(../../assets/fonts/GlobotipoRounded-Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Globotipo Rounded';
	src: url(../../assets/fonts/GlobotipoRounded-Black.woff2) format('woff2'),
	url(../../assets/fonts/GlobotipoRounded-Black.woff) format('woff');
	font-weight: 900;
	font-style: normal;
}